body {
    box-sizing: border-box;
    background-color: #382418;
    color: #000000;
    margin-top: 0rem;
    margin-bottom: 0rem;
}
header{
    border-top: 4px solid rgba(0, 0,0, 0.1);
    border-bottom: 1px dotted rgba(0, 0,0, 0.3);
    margin-left: -2rem;
    margin-right: -2rem;
}
h1{
    color: black;
}
h2{
    color: #382418;
}
h3{
    color: #342c20;
}
a:link{
    color: #7b4f17;
    margin: 0.5rem;
}
a:visited{
    color: purple;
}
li{
    display: inline;
}
.width-wrap{
    border: 1px solid rgba(0, 0,0, 0.3);
    border-top: none;
    margin-top: 0rem;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    max-width: 960;
    margin-bottom: 3rem;
    background-color: #b9a06d;
}
label{
    display: block;
}
th ,td{
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
td{
    background-color: rgba(0, 0,0, 0.05);
}
th, tfoot{
    background-color: rgba(0, 0,0, 0.2);
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}


li.useful-links{
    display: block;
}
.nav-links{
    padding-top: 16px;
}
.nav-links:hover{
    border-top: 4px solid rgba(0, 0,0, 0.25);
}
p::first-letter{
    font-size: 32px;
    font-family: serif;
    background: rgba(0, 0,0, 0.05);
    width: 50vw;
    height: 50vw;
    color: #6d4211;
}
.bottom-header{
    border-top: 3px dotted red;
    border-bottom: none;
    border-left: none;
    border-right: none;
    max-width: 890px;
    min-width: 300px;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
dt::after{
    content: ":";
}
tr:nth-child(even){
    background-color: rgba(0, 0,0, 0.15);
}
.radio-buttons input[type="radio"] + label{

    display: inline;
}
input[type="submit"]{
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: #7b4f17;
    background-color: black;
}